::-moz-selection {
    background: transparent;
    color: #03a9f4;
}

::selection {
    background: transparent;
    color: #03a9f4;
}
  
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
  
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}
  
.container {
    max-width: 100%;
}
  
.title {
    margin: 0;
    font-size: 6em;
    font-weight: bold;
    line-height: 0.85;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.title span {
    display: block;
    word-wrap: break-word;
}
  
.links {
    color: #666;
    margin: 4em 0 0;
}

.links a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid black;
}
  
@media (max-width: 720px) {
    .title {
        font-size: 4em;
    }
}