* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
  
body {
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color .5s;
}

#main {
    display: flex;
    flex-direction: column;
}

#main > * {
    padding: 20px;
}

/* --- Header --- */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6EB257;
    position: fixed;
    width: 100%;
}

header h1 {
    font-size: 45px;
}

#openNav {
    font-size: 30px;
    cursor: pointer;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10vh;
}
  
#sidenav a {
    padding: 16px 16px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color: #818181;
    display: block;
    transition: 0.5s;
}
  
#sidenav a:hover {
    color: #f1f1f1;
}
  
#sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.content {
    height: 90vh;
}
  
footer {
    background-color: #6EB257;
    padding: 10px;
    text-align: center;
    color: A0EEC0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}