* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
  
body {
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color .5s;
}

#main {
    display: flex;
    flex-direction: column;
}

#main > * {
    padding: 20px;
}

/* --- Header --- */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6EB257;
    position: fixed;
    width: 100%;
}

header h1 {
    font-size: 45px;
}

/* --- Menu --- */

#openNav {
    font-size: 30px;
    cursor: pointer;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10vh;
}
  
#sidenav a {
    padding: 16px 16px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color: #818181;
    display: block;
    transition: 0.5s;
}
  
#sidenav a:hover {
    color: #f1f1f1;
}
  
#sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* --- Main --- */

#main {
    transition: margin-left .5s;
}

.content {
    height: 90vh;
}

/* --- Footer --- */
  
.footer {
    background-color: #6EB257;
    padding: 10px;
    text-align: center;
    color: white;
    
}

.dot {
    height: 100px;
    width: 100px;
    background-color: rgb(4, 92, 18);
    border-radius: 50%;
    display: inline-block;
    margin: auto;

  }

  .column1{
      float: left;
      margin-left: 20%;
  }

  .column2{
    display: inline-block;
    margin: 0 auto;
  }

  .column3{
    float: right;
    margin-right: 20%;
  }


/* --- Responsive --- */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}