body {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.5rem;
}

body>main>article>header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

#team_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header>p {
    font-size: larger;
    font-weight: bold;
}

a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

section>section {
    margin-left: 5vw;
}

ol.nested {
    counter-reset: item;
}

li.nested {
    display: block
}

li.nested:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

p {
    text-align: justify;
}

h3 {
    margin-left: 1.5em;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -16px;
}

.center-image object {
    display: block;
    margin: auto;
    padding-bottom: 1em;
}

.red-span {
    color: red;
}

.blue-span {
    color: blue;
}

.green-span {
    color: green;
}