/* Select Radio Buttons */

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}


/* Hide the default radio button */

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container-radio:hover input~.checkmark-radio {
    background-color: #ccc;
}

.container-radio input:checked~.checkmark-radio {
    background-color: #0a8ef2;
}

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked~.checkmark-radio:after {
    display: block;
}

.container-radio .checkmark-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}