<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" type="text/css" href="/obis/public/css/404.css" />
</head>

<body>
    <main>
        <div class="container">
            <p class="title">
                <span class="bigger">404</span>
                <span>Not</span>
                <span>Found</span>
            </p>
            <p class="links">
                <a href="index">Home</a>
                <a href="statistics">Statistics</a>
                <a href="contact">Contact</a>
            </p>
        </div>
    </main>
</body>

</html>