<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/obis/public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/obis/public/css/about.css" />
</head>

<body>
    <nav id="sidenav">
        <a href="javascript:void(0)" class="closeButton" onclick="closeNavBar()">&times;</a>
        <a href="index">HOME</a>
        <a href="">ABOUT</a>
        <a href="statistics">STATISTICS</a>
        <a href="bmi">BODY MASS INDEX</a>
        <a href="diets">DIETS</a>
        <a href="contact">CONTACT</a>
        <a href="login">LOGIN</a>
    </nav>

    <main id="mainid">
        <header>
            <span onclick="openNavBar()" id="openNav">&#9776;</span>
            <h1>Obesity Prevalence Visualizer</h1>
            <div class="logo-image"> </div>
        </header>

        <div class="content">
            <div class="div_about">
                <div class="about_title">About</div>
                <div class="text_about">What is obesity prevalence?<br>Overweight and obesity are defined as abnormal or excessive fat accumulation that presents a risk to health. A crude population measure of obesity is the body mass index (BMI), a person’s weight (in kilograms)
                    divided by the square of his or her height (in metres). A person with a BMI of 30 or more is generally considered obese. A person with a BMI equal to or more than 25 is considered overweight. Overweight and obesity are major risk factors
                    for a number of chronic diseases, including diabetes, cardiovascular diseases and cancer. Once considered a problem only in high income countries, overweight and obesity are now dramatically on the rise in low- and middle-income countries,
                    particularly in urban settings. </div>
            </div>
        </div>
        <footer>
            <div class="column">
                <span class="dot dot-ad"></span>
                <div>
                    <h3>Address</h3>
                    <p>Gen. Berthelot</p>
                </div>
            </div>

            <div class="column">
                <span class="dot dot-ph"></span>
                <div>
                    <h3>Phone</h3>
                    <p>0711223344</p>
                </div>
            </div>

            <div class="column">
                <span class="dot dot-em"></span>

                <div>
                    <h3>Email</h3>
                    <p>ourwebapp@info.uaic.ro</p>
                </div>
            </div>
        </footer>
    </main>
    <script src="/obis/public/js/menu.js"></script>
</body>

</html>